@using Microsoft.AspNetCore.Http
@model JugadoresViewModel

<style>
     body{
         background-color: #f2f2f2;
    }

    /* Estilos para la tabla de jugadores */
    .player-table {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        border-collapse: separate; /* Espaciado entre celdas */
        border-spacing: 0 10px; /* Espacio vertical entre filas */
    }

        .player-table th,
        .player-table td {
            padding: 15px;
            background-color: #fff; /* Fondo blanco */
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
            transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
        }

        .player-table th {
            background-color: #333;
            color: #fff;
            font-weight: bold;
            box-shadow: none; /* Sin sombra en la cabecera */
        }

        .player-table td:hover {
            background-color: #f2f2f2; /* Cambio de color al pasar el ratón */
            transform: translateY(-5px); /* Efecto de elevación */
        }

    .player-image {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .details-button {
        padding: 5px 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto del botón */
    }

        .details-button:hover {
            background-color: #45a049;
        }
   
</style>
   <table class="player-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Posición</th>
                <th>Imagen</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jugador in Model.Jugadores)
            {
                <tr>
                    <td>@jugador.Nombre</td>
                    <td>@jugador.Posicion</td>
                    <td><img src="@HelperPathProvider.MapUrlPath(jugador.Imagen, Folders.Jugadores)" class="player-image" /></td>
                    <td><a asp-controller="Jugadores" asp-action="DetalleJugador" asp-route-id="@jugador.IdJugador" class="details-button">Ver detalles</a></td>
                </tr>
            }
        </tbody>
    </table>   
<div style="margin-top:350px"> </div>
