@model List<MvcNbaApis.Models.VistaEntradasReservadas>

<h1 class="text-center mb-4">Entradas Reservadas</h1>

@if (Model != null)
{
    <div class="row">
        @foreach (var reserva in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img class="card-img-top" src="https://storageaccountnba.blob.core.windows.net/partidos/@reserva.ImagenPartido" alt="Imagen del Partido" />
                    <div class="card-body">
                        <p class="card-text text-center">Fecha del partido: @reserva.FechaPartido.ToShortDateString()</p>
                        <p class="card-text text-center">Asiento: @reserva.PlazasDisponibles</p>
                        <p class="card-text text-center">Precio: @reserva.PrecioEntrada €</p>
                    </div>
                    <div class="card-footer">
                        <form method="post" asp-action="EliminarReserva" asp-route-id="@reserva.ReservaId" asp-controller="Entradas">
                            <button type="submit" class="btn btn-danger btn-block">Cancelar Reserva</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
<div style="margin-top: 660px;"></div>

@if (Model.Count == 0)
{
    <p class="text-center mt-3">No hay entradas reservadas.</p>
}
