@model MvcNbaApis.Models.Equipo

<style>
    /* Estilos generales */
    body {
        background-image: url("https://storageaccountnba.blob.core.windows.net/fondoequipos/@Model.ImagenFondo");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
    }

    .detalle-container {
        background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
        border-radius: 15px;
        padding: 40px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 50px; /* Ajuste de margen superior */
    }

    .detalle-title {
        font-size: 48px;
        font-weight: bold;
        color: #333; /* Texto gris oscuro */
        margin-bottom: 20px;
    }

    .detalle-info {
        font-size: 24px;
        color: #666; /* Texto gris medio */
        margin-bottom: 15px;
    }

    .detalle-image {
        width: 100%;
        max-width: 400px;
        border-radius: 15px;
        margin: 20px auto;
        display: block;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    }

    .btn-back {
        display: inline-block;
        padding: 15px 30px;
        font-size: 24px;
        font-weight: bold;
        color: #fff; /* Texto blanco */
        background-color: #4caf50; /* Fondo verde claro */
        border: 2px solid transparent; /* Borde transparente */
        border-radius: 10px;
        text-decoration: none;
        transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
    }

    .btn-back:hover {
        background-color: #388e3c; /* Cambiar color de fondo al hacer hover */
        border-color: #388e3c; /* Cambiar color del borde al hacer hover */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="detalle-container">
                <h1 class="detalle-title">Detalle del Equipo</h1>
                <div class="detalle-info">
                    <strong>Nombre:</strong> @Model.Nombre
                </div>
                <div class="detalle-info">
                    <strong>Ciudad:</strong> @Model.Ciudad
                </div>
                <div class="detalle-info">
                    <strong>Fundación:</strong> @Model.Fundacion.ToShortDateString()
                </div>
                <img class="detalle-image" src="https://storageaccountnba.blob.core.windows.net/equipos/@Model.Imagen" alt="@Model.Nombre" />
                <a asp-controller="Nba" asp-action="Index" class="btn-back">Volver al Listado</a>
            </div>
        </div>
    </div>
</div>
